* {
box-sizing: border-box;
}

.jumbotron {
    /* add bootstrap jumbotron background image */
    background-image: url("../img/snow1.png");
    /* change bootstrap jumbotron text color */
    /*color: #FFF;*/
}


body {
color: white;
background-image: url("../img/snow1.png");
background-color: #0F1740;
font-family: Arial, Helvetica, sans-serif;
margin: 10;
padding: 0;

background-repeat: no-repeat;
}

h1 {
color: white;
margin: 10;
font-family: Arial, Helvetica, sans-serif;
font: 40;
}

.button {
  color: red;
}
p {
    text-align: right;
    margin: 0 0%;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	margin: 2;
}

section {
	width: 50%;
	float: left;
}

#s1 {

}
#s2 {

}


#top-menu {
    background: white;

}
#top-menu li {
    display:inline;
    margin-right:15px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;


}
#top-menu a {
    text-decoration:blink;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-align: left;
}

#top-menu a:hover {
    text-decoration:underline;
    color: red;
	font-family: Arial, Helvetica, sans-serif;

}

#link-list {
    /*background: #0F1740;*/

}
#link-list li {
    margin-right:15px;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

#link-list a {
    text-decoration:blink;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

#link-list a:hover {
    color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
