* {
  box-sizing: border-box;
}

.jumbotron {
  background-image: url("../img/snow1.png");
  background-size: cover;
}

.well {
  background-color: rgba(24, 28, 147,0.2);
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  border-color: #181C93;
}

.well-sm {

}

.btn {
  width: 100%;
}

body {
color: white;
/*background-image: url("../img/snow1.png");*/
background-size: cover;
background-color: #000000;
font-family: Arial, Helvetica, sans-serif;
margin: 10;
padding: 0;

background-repeat: no-repeat;
}

h1 {
color: white;
margin-left: 10px;
padding-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;
font: 40;
text-align: center;
}

h2 {
color: white;
font-family: Arial, Helvetica, sans-serif;
font: 20;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.button {
  color: red;
}

.dateline {
  text-align: right;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.test {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200px;
  color: #ffff00
}

.btn1 {
  background-color: #000000; /* Green */
  border: none;
  color: black;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  text-align: left;
  font-size: 17px;
  margin: 0 0%;
  font-family: Arial, Helvetica, sans-serif;
}

main {
	margin: 2;
}

section {
	/*width: 100%;*/
  padding-top: 40px;
}

#s1 {

}
#s2 {

}

#project-image{
  display: block;
  margin: 0 auto;
}

#top-menu {
	text-align: center;
    background: white;
    height: 40px;
    color: black;

}
#top-menu li {
  display:inline;
  margin-right:15px;
	font-family: Arial, Helvetica, sans-serif;
	color: black;

}
#top-menu a {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
  font-size: 18px;
}
#top-menu b {
	font-family: Arial, Helvetica, sans-serif;
	color: grey;
  font-size: 16px;
}
#top-menu a:hover {
  text-decoration:none;
  color: red;
  font-weight: bold;
  font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#link-list {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  background-color: rgba(255,255,255,0.1);
  height: 250px;
}

#square {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
  /*height: 100%;*/
}

#link-list li {
  margin-right:15px;
	font-family: Arial, Helvetica, sans-serif;
	color: red;
}

#link-list a {
	font-family: Arial, Helvetica, sans-serif;
  font-size:17px;
	color: white;
}

#link-list a:hover {
  color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}


.allButFooter {
  min-height: calc(100vh - 65px);
}

#footer {
    position:fixed;
    bottom:0;
    text-align: center;
}
