@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

* {
  box-sizing: border-box;
}

#btn, #fld {
display: inline-block;
padding: 2px 15px;
font-size: 14px;
border-radius: 3%;
-webkit-appearance: none;
border: 1px solid transparent;
}

#feedback {
  color: #E5E4E2;
  font-family: arial;
  margin-top: 16px;
}

.container-fluid {
  margin-left: 50px 0 50px 0;
}


#vlogo {
  padding-bottom: 70px;
  padding-top: 20px;
}


body {
color: white;
background-color: #000000;
font-family: Arial, Helvetica, sans-serif;
margin: 0;
padding: 0;
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 30px;
}

main {
	margin: 2;
  text-align: center;
}

.allButFooter {
  min-height: calc(100vh - 65px);
}


#footer {
    position:fixed;
    bottom:0;
    text-align: center;
    font-size: 80%;
    font-family: arial;
}
