@font-face {

    font-weight: normal;
    font-style: normal;
}

#wiki {
  position: fixed;
  top: 50%;
  left: 5%;
  display: none;
/*  margin: 50px 0 0 -200px;
  z-index: 15;
*/
}

html {
  width: 100%;
  height: 100%;
  /*background: #000;*/
  background-size: cover;
}

body {
  padding: 0 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #000;
background-repeat: no-repeat;

    /*background: transparent;
    background: #000 url(http://vignette4.wikia.nocookie.net/creepypasta/images/b/b4/3029579-poster-p-1-3029579-who-needs-business-school-the-hidden-startup-resources-at-your-local-library.jpg);
background-repeat: no-repeat;
    background-size: contain center;

    */
}
#button{
  position: fixed;
  width:330px;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -250px;
  height:40px;
  background-color: #fff;
  border-color: blue;
  border-radius: 15px;
  border-width:medium;
  outline: -webkit-focus-ring-color auto 0px;
}

#button2{
  position: fixed;
  width:160px;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 90px;
  height:40px;
  background-color: #fff;
  border-color: orange;
  border-radius: 15px;
  border-width:medium;
  outline: -webkit-focus-ring-color auto 0px;
}

#search{
  width:500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
  border-color: green;
  border-width:medium;
}
input {
    border-radius: 15px;
    height:50px;
    font-size: 24px;
    text-align: center;
    outline: -webkit-focus-ring-color auto 0px;
}
#results {
  width:80%;
  margin:auto;
  background-color: #fff;
}

.result {
  padding:10px;
  text-align:left;
  background: white;
  margin: 20px;
  cursor: pointer;
  border-radius: 0px;
  border-left: solid 5px rgba(0, 0, 0, 0);
}

.result:hover {
  border-left: solid 5px blue;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.container, .container-fluid {
  text-align: center;
}
.outer {
  text-align: center;
  position: relative;
  top: 0%;
}

.jump {
  top: 30%;
}
