@font-face {

    font-weight: normal;
    font-style: normal;
}

#wiki {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 50px 0 0 -200px;
  z-index: 15;
  text-transform: uppercase;
}

html {
  width: 100%;
  height: 100%;
  /*background: #000;*/
  background-size: cover;
}

body {
  padding: 0 0;
  font: 13px 'Open Sans', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #000 url(http://vignette4.wikia.nocookie.net/creepypasta/images/b/b4/3029579-poster-p-1-3029579-who-needs-business-school-the-hidden-startup-resources-at-your-local-library.jpg);
background-repeat: no-repeat;
    background-size: contain center;
    /*background: transparent;*/
}
#button{
  position: fixed;
  width:400px;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -202px;
  height:40px;
  background-color: #fff;
  border-color: blue;
  border-radius: 15px;
  border-width:medium;
}

#button2{
  position: fixed;
  width:160px;
  top: 50%;
  left: 50%;
  margin: -65px 0 0 -78px;
  height:70px;
  background-color: #fff;
  border-color: orange;
  border-radius: 15px;
  border-width:medium;
}

#search{
  width:500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
}
input {
    border-radius: 15px;
    height:50px;
    font-size: 24px;
    text-align: center;
}
