
body {
color: white;  
background-color: black;
font-family: arial;

}

h1 {
color: #F4793E;    
font-family: arial;
}

h2 {
color: white;    
font-family: arial;
}

p {
    text-align:justify;
    margin: 0 20%;
	font-family: arial;
}


#subheader {
    text-align: right;
    color: #F4793E;
	font-family: arial;
}
#nav {
    background: white;
	
}
#nav li {
    display:inline;
    margin-right:15px;
	font-family: arial;
	color: black;
	
}
#nav a {
    text-decoration:none;
	font-family: arial;
	color: black;
}

#nav a:hover {
    text-decoration:underline;
    color: #F4793E;
	font-family: arial;
}


.neat-word {
    text-align: center;
    font-size:30px;
    color: blue;
    text-transform:uppercase;
	font-family: arial;
}

.sidebar {
	padding: 35px 0;
	margin: 10px;
}

.main {
	padding: 0px 0;
	
}