body{
  background-color: #0A0E90;
  margin: 100px 80px 100px 80px;
  font-family: Arial, Helvetica, sans-serif;
}
p{

  color: red;
}

.well{
  background: #000;
  border: 0;
}

.button{
  border: 1;
  border-color: #fff;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  outline:none;

}
.button:hover{
  border-color: red;
}

.button:active{
  border-color: greent;
}

die{
  font-size: 50px;
}
